section {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin:40px auto; 
    padding: 30px;
    width: 100%;
  }
  .header{
    background: linear-gradient(252deg, #5a20b8 10%, #9f01ea 90%);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin:40px auto; 
    padding: 30px;
    width: 100%;
  }
  .results{
    background: linear-gradient(252deg, #5a20b8 10%, #9f01ea 90%);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin:40px auto; 
    padding: 30px;
    width: 100%;
  }
  
  p{
    color: #000000;
    
  }
  
  h2 {
    color: #209ca5;
  }
  
  h3 {
    color: rgb(128, 77, 158);
  }