
 header {
  background: linear-gradient(1deg, #56d8e4 3.9%, #9f01ea 90%);;
    border-bottom: 1px solid #eee;
    color: #eee;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    
    
  }
form {
  display: inline-block;
  margin: auto;
  width: 200px;

  header {
    display: flex;
    margin: 1rem 0;

    h1 {
     color: #56d8e4;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
}
