$backgroundColor: #71c9df;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  header {
    display: flex;
    margin: 1rem 0;

    h1 {
     color:black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
}
